<p id="notice"><%= notice %></p>

<h1>Lighthouse3 Catalog</h1>
<div id="products" class="col-xs-12">
	<%= form_tag filter_products_path(format: :js), :method => :get, remote: true, authenticity_token: true, id: 'filter_products'	do %>
	<% counter = 1 %>
<% max_counter = 5 %>
<div class="col-xs-2"></div>
<div class="col-xs-10">
	<div class="btn-group" data-toggle="buttons">
	<%= collection_check_boxes(:category, :selected_category_ids, Category.all, :id, :name, ) do |b| %>
	<%= b.label(class: "btn btn-primary") {b.check_box({:onchange => 'this.form.submit();'}) + b.text}  %>
	<% end %>
	</div>
</div>
<div class="col-xs-2"></div>
<div class="col-xs-10" id="related-tags"></div>
<div class="col-xs-2"><%= render "filter_criteria"%></div>
<% end %>
<div id="related-products" class="col-xs-10"></div>
</div>