<p id="notice"><%= notice %></p>

<h1>Lighthouse3 Catalog</h1>
<div id="products" class="col-xs-12">
	<%= form_tag filter_products_path(format: :js), :method => :get, remote: true, authenticity_token: true, id: 'filter_products'	do %>
	<% counter = 1 %>
<% max_counter = 5 %>
<div class="col-xs-2"></div>
<div class="col-xs-10">
	<%= hidden_field_tag "categories_ids" %>
	<div class="btn-group" data-toggle="buttons">
	<%= button_tag "All", class: "btn btn-warning", onclick: '$("#categories_ids").val("All"); $("#filter_products").submit();' %>
	<% Category.all.each do |c| %>
		<%= button_tag c.name, class: "btn btn-warning", onclick: '$("#categories_ids").val("' + c.id.to_s + '"); $("#filter_products").submit();' %>
	<% end %>
	</div>
</div>
<div class="col-xs-2"></div>
<div class="col-xs-10" id="related-tags" data-no-turbolink></div>
<div class="col-xs-2"><%= render "filter_criteria"%></div>
<% end %>
<div id="related-products" class="col-xs-10"></div>
</div>