<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="large-10 large-centered column">
			<%= f.text_field :name, placeholder: "Product Name" %>
  </div>
  <div class="large-10 large-centered column">
	<%= f.text_area :description, placeholder: "Product Description" %>
  </div>
<div class="large-10 large-centered column">
	<%= f.text_field :all_categories, placeholder: "Product Categories" %>
</div>
<div class="large-10 large-centered column">
	<%= f.text_field :all_tags, placeholder: "Tags" %>
</div>
<div class="large-10 large-centered column">
	<%= f.text_field :website, placeholder: "Website URL" %>
</div>
<div class="large-10 large-centered column">
	<%= f.file_field :logo, placeholder: "Logo" %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
